@import '../../styles/globals.scss';

.why-choose-us {
  .heading-text {
    padding: 0 170px;
  }
  .choose-us-box {
    border: 1px solid $grey-color;
    padding: 25px 40px;
    height: 355px;
  }
}
