.profile-management {
  .primary-submit {
    width: 180px;
    height: 50px;
    background: #9043C3;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    margin-top: 10px;
    @media (max-width:767px) {
        width: 100%;
      }
}
  .linked-accounts {
    @media (max-width:767px) {
        text-align: center;
      }
    img {
      @media (max-width:767px) {
        width: 100%;
      }
    }
    .thin {
      font-size: 24px;
    }
    .btn {
      padding: 0;
      .add {
        color: $primary-color;
        font-weight: 700;
        font-size: 24px;
      }
    }
    
    }
  }
  .profile-manager {
    flex: 1;
    h3 {
      @media (max-width:767px) {
        font-size: 30px;
      }
    }
    .find-more {
      color: $primary-color;
      font-weight: bold;
    }
    .small {
      width: 50%;
      @media (max-width:767px) {
        width: 100%;
      }
      .input {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 12px;
        color: #252525;
        outline: none;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 26px;
      }
      .input.mr-3 {
        @media (max-width:767px) {
          margin-right: 0 !important;
        }
      }
    }
    .input {
      border: 1px solid #000;
      border-radius: 5px;
      padding: 12px;
      color: #252525;
      outline: none;
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 26px;
    }
    .large {
      width: 100%;
    }
    .textarea {
      border: 1px solid #000;
      border-radius: 5px;
      padding: 12px;
      color: #252525;
      outline: none;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 26px;
      height: 110px;
    }
    .horizontal-line {
      margin: 30px 0;
      width: 100%;
      height: 1px;
      background-color: $grey-color;
    }
    .label {
      font-size: 24px;
      margin-top: 15px;
    }
    .email {
      color: $primary-color;
      cursor: pointer;
    }
    .email-readonly {
      border: 1px solid #000;
      border-radius: 4px;
      padding: 12px 20px;
      color: #252525;
      display: inline-block;
      @media (max-width:767px) {
          width: 100%;
        }
    }
    .notifications {
      .icon {
        color: $primary-color;
        font-size: 20px;
      }
      h6 {
        line-height: 16px;
      }
    }
    .payment-details {
      .link {
        color: $primary-color;
      }
      .payment-method {
        span {
          font-weight: bold;
        }
      }
      .location {
        @media (max-width:767px) {
          width: 100%;
          margin-right: 0 !important;
        }
        .details {
          line-height: 5px;
        }
      }
    }
    .settings-link {
      color: $primary-color;
      font-size: 24px;
      font-weight: 500;
      text-decoration: underline;
    }
  }

