.footer {
  background-color: $primary-color;
  padding: 60px 0 30px 0;
  color: $white-color;
  font-family: $font-family-base;
  .left-sec {
    width: 50%;
    float: left;
    @media (max-width:980px) {
      width: 100%;
      margin-bottom: 50px;
    }
    img {
      margin-bottom: 25px !important;
    }
    h3 {
      width: 400px;
      max-width: 100%;
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.0018em;
      color: $white-color;
      margin: 0;
      @media (max-width:767px) {
        font-size: 30px;
      }
    }
  }
  .right-sec {
    width: 50%;
    float: left;
    @media (max-width:980px) {
      width: 100%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      @media (max-width:767px) {
        flex-wrap: wrap;
      }
      li {
        width: 30%;
        display: inline-block;
        @media (max-width:767px) {
          width: 100%;
          margin-bottom: 40px;
        }
        h5 {
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
          color: $white-color;
          margin: 0 0 40px 0;
          @media (max-width:767px) {
            margin: 0 0 20px 0;
          }
        }
        a {
          display: block;
          font-weight: normal;
          font-size: 18px;
          line-height: normal;
          color: $white-color;
          margin: 0 0 20px 0;
        }
      }
    }
  }
  .footer-success {
    text-align: center;
    margin-bottom: 65px;
    h4 {
      font-family: Neue Haas Grotesk Display Pro;
      font-weight: bold;
      font-size: 32px;
      line-height: 24px;
      letter-spacing: 0.28px;
      color: #FFFFFF;
      margin: 0 0 25px 0;
    }
    h5 {
      font-family: Neue Haas Grotesk Display Pro;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.28px;
      color: #FFFFFF;
      margin: 0;
      a {
        text-decoration: underline;
        &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }
  .marg170 {
    margin-bottom: 170px;
    @media (max-width:767px) {
      margin-bottom: 50px;
    }
  }
  .footer-btm {
    @media (max-width:980px) {
      padding-bottom: 20px;
    }
    .left-sec {
      width: 50%;
      float: left;
      @media (max-width:980px) {
        width: 100%;
        margin-bottom: 30px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $white-color !important;
        @media (max-width:980px) {
          text-align: center;
          padding: 0 20px;
        }
        @media (max-width:767px) {
          padding: 0;
        }
      }
    }
    .right-sec {
      width: 50%;
      float: left;
      display: flex;
      justify-content: flex-end;
      @media (max-width:980px) {
        width: 100%;
        justify-content: center;
        @media (max-width:767px) {
          padding: 0;
          justify-content: flex-start;
        }
      }
      a {
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: $white-color;
        margin-left: 50px;
        @media (max-width:980px) {
          margin: 0 20px;
        }
        @media (max-width:767px) {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
.payment-hide {
  display: none;
  transition: all .3s ease-in-out;
}
.payment-succes {
  width: 489px;
  max-width: 90%;
  background: #FFFFFF;
  border-radius: 25px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  padding: 30px 40px;
  transition: all .3s ease-in-out;
  border: 1px solid rgba(37, 37, 37, 0.1);
  @media (max-width:767px) {
      max-width: 100%;
      background: #FFFFFF;
      border-radius: 25px;
      position: fixed;
      bottom: 30px;
      right: 20px;
      padding: 20px 20px;
      left: 20px;
      width: calc(100% - 50px);
    }
  }
  .profilepic {
    width: 126px;
    height: 126px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 45px;
    top: -70px;
    @media (max-width:767px) {
      right: 20px;
      top: -80px;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.28px;
    color: #2F2F2F;
    margin: 0 0 7px 0;
    @media (max-width:767px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  h6 {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #2F2F2F;
    margin: 0 0 7px 0;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #C4C4C4;
    text-align: right;
    margin: 0;
    padding: 0;
  }


