.home-services-list {
  .service-txt {
    @media (max-width:991px) {
      margin-bottom: 50px;
    }
    h5 {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color:$text-color;
      margin: 0;
      padding: 0;
      position: relative;
      &:before {
        content: "";
        width: 5px;
        height: 22px;
        left: -12px;
        top: 6px;
        position: absolute;
        background: $primary-color;
      }
    }
    p {
      font-family: $font-family-base;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.28px;
      color:$text-color;
      margin: 20px 0 60px 0;
      width: 215px;
      max-width: 100%;
      @media (max-width:991px) {
        width: 100%;
        margin: 20px 0 20px 0;
      }
    }
  }
  .service-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 32%;
      text-align: center;
      border: 1px solid $gray-border;
      padding: 32px 5px;
      margin-bottom: 15px;
      @media (max-width:767px) {
        width: 100%;
      }
      h4 {
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $black-color;
        margin: 0;
        padding: 0;
      }
    }
  }
}
