.home-services-list {
  h5 {
    position: relative;
    font-weight: 600;

    &:before {
      content: "";
      width: 5px;
      height: 22px;
      left: -12px;
      top: 6px;
      position: absolute;
      background: $primary-color;
    }
  }

  .view-more-service {
    background: unset;
    color: $text-color;
    border: 2px solid $primary-color;
    border-radius: unset;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .serivce-box {
    border: 1px solid $grey-color;
    padding: 32px 75px;
  }
}
