.how-it-works {
  .how-it-work-slider {
    margin-top: 70px;
    .slick-slide {
      &:nth-child(odd) {
        &:before {
          content: "";
          background: url("/public/assets/svg/ic-down-agnle.svg");
          position: absolute;
          right: 0;
          top: 0;
          width: 120px;
          height: 120px;
          z-index: 9999;
          background-size: 120px;
        }
      }
      &:nth-child(even) {
        &:before {
          content: "";
          background: url("/public/assets/svg/ic-up-agnle.svg");
          position: absolute;
          right: 0;
          top: 0;
          width: 120px;
          height: 120px;
          z-index: 9999;
          background-size: 120px;
        }
      }
    }
    .how-it-work-slide {
      position: relative;
      padding: 0 50px;
      .image-circle {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        color: $white-color;
        border-radius: 50%;
        border: 9px solid $white-color;
        width: 104px;
        height: 104px;
        font-size: 32px;
        line-height: 42px;
        padding: 20px;
      }
    }
  }
}
