.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem !important;

    li {
      list-style-type: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      margin: 0 10px;

      a {
        color: $primary-color;
        &:hover {
          text-decoration: unset;
          color: $primary-color;
        }
      }

      .login-button {
        padding: 5px 15px;
        margin: 5px;
        width: 96px;
        height: 50px;
        border-radius: 25px;
        border-radius: 25px;
        font-size: 22px;
        svg {
          &:last-child {
            margin-left: 19px;
          }
        }
      }
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 99;
  .modal-wrapper-sm {
    width: 660px;
    max-width: 90%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 30px 45px;
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      .close-btn {
        position: absolute;
        left: 45px;
        top: 30px;
        background: none;
      }
      h4 {
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #252525;
        margin: 0 0 40px 0;
        position: relative;
        &::after {
          content: '';
          border: 1px solid #B0B0B0;
          width: 400px;
          position: absolute;
          left: 50%;
          bottom: -20px;
          transform: translateX(-50%);
        }
      }
    }
    .modalbody {
      p {
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: normal;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #000000;
        margin: 18px 0;
      }
      .btn-continue {
          min-height: 50px;
          background: #9043C3;
          border-radius: 25px;
          font-family: Neue Haas Grotesk Display Pro;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -0.0018em;
          color: #FFFFFF;
          width: 100%;
      }
    }
  }
}

.box {
  width: 100%;
  border: 2px solid #B0B0B0;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px 0 15px 0;
}
.p-lr {
  margin: 0 50px;
  position: relative;
}
.or {
  width: 80px;
  position: relative;
  margin: 25px auto;
  background: #ffffff;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #000000;
  &::after {
    content: '';
    border-bottom: 1px solid #B0B0B0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    width: 400px;
    z-index: -1;
  }
}
.social-btns {
  padding-bottom: 30px;
  button {
    display: flex;
    align-items: center;
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color: #000000;
    background: #fff;
    width: 100%;
    border: 2px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 15px;
    margin: 0 0 30px 0;
    span {
      text-align: center;
      width: calc(100% - 30px);
    }
  }
}
.last-para {
  margin: 0 0 15px 0 !important;
  padding: 0;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #000000;
  text-align: left !important;
  a {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 12px;
  }
}

.form-group {
    margin-bottom: 0;
    position: relative;
}
.material-textfield {
  position: relative;
}

.material-textfield-input {
  padding-top: 18px;
  resize: none;
}

.material-textfield-input:focus, .material-textfield-input:focus {
  outline: none;
}

.material-textfield-input:focus ~ label,
.material-textfield-input:valid ~ label {
  top: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.material-textfield-input[type=password] {
  letter-spacing: 0.1em;
}

.material-textfield-label {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 14px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  margin-bottom: 0;
}
.form-divider {
  border-bottom: 1px solid #B0B0B0;
  margin: 5px 0 15px 0;
}
.field-input {
  min-height: 56px;
  border: 0 solid #888;
  width: 100%;
  border-radius: 0;
  padding: 15px 15px 0 0;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #848484;
}
.form-control-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 0 0 0;
  transition: all 200ms;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #252525;
}
.field-input:focus {
  outline: none;
}
.field-input:focus + .form-control-placeholder,
.field-input:valid + .form-control-placeholder {
  transform: translate3d(0, -40%, 0);
  opacity: 1;
}

.custom-select {
  cursor: pointer;
  // background: #fff url(../images/caret.svg) no-repeat right 20px center/12px 12px;
}

/* Globle Css */