.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem !important;

    li {
      list-style-type: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      margin: 0 10px;
      color: #9043C3;
      a {
        color: $primary-color;
        &:hover {
          text-decoration: unset;
          color: $primary-color;
        }
      }

      .login-button {
        padding: 5px 15px;
        margin: 5px;
        width: 96px;
        height: 50px;
        border-radius: 25px;
        border-radius: 25px;
        font-size: 22px;
        svg {
          &:last-child {
            margin-left: 19px;
          }
        }
      }
    }
  }
}
.hide-mob {
  @media (max-width:768px) {
    display: none;
  }
}
.show-mob {
  display: none;
  @media (max-width:768px) {
    display: block;
  }
}
.mob-menu-wrapper.show {
  transform: translateX(0);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.mob-menu-wrapper {
  width: 100%;
  height: 70px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px;
  header {
    display: flex;
    justify-content: space-between;
  }
  .hide {
    transform: translateX(120%);
    transition: all .3s ease-in-out;
  }
  .hide.show {
    transform: translateX(0);
    transition: all .3s ease-in-out;
    background: #fff;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 20px;
    height: calc(100vh - 50px);
  }
  ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
    li {
      width: 100%;
      color: #9043C3 !important;
      &:first-child {
        a {
          border-top: 1px solid #f1f1f1;
        }
      }
      a {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #9043C3 !important;
        padding: 20px 0;
        display: block;
        border-bottom: 1px solid #f1f1f1;
      }
    }
  }
}
// React Modal Css
.ReactModal__Body--open{
  overflow: hidden;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  overflow-x: hidden;
  overflow-y: auto;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open::before {
  content:'';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color: rgba(0, 0, 0, 0.60);
  z-index: -1;
}
.ReactModal__Overlay {
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: #fff !important;
  z-index: 1072;
  display: flex;
  justify-content: center;
}
.ril__caption, .ril__toolbar {
  background: none;
}
.ril__outer {
  background: none;
}

.ril__image, .ril__imagePrev, .ril__imageNext {
  @media (max-width:1024px) {
      margin-left: -40px;
  }
  @media (max-width:767px) {
      margin-left: -20px;
  }
}
.ReactModal__Content.ReactModal__Content--after-open{
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: none !important;
  background: #fff  !important;
  // overflow: visible !important;
  outline: none !important;
  @media (max-width:767px) {
    top: 20px !important;
    left: 20px !important;
    right: 20px !important;
    bottom: 20px !important;
  }
}
.react-modal-dialog  {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 620px;
  max-width: 100% !important;
  min-height: calc(200px - 3.5rem) !important;
  pointer-events: auto;
  background-color: #fff;
  border-radius: .3rem;
  outline: 0;
  overflow: initial !important;
  transition: all 0.2s ease;
  @media (max-width: 980px) {
    width: 90%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
.react-modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
  &.react-modal-dialog-xs {
    max-width: 420px;
  }
  &.react-modal-dialog-sm {
    max-width: 700px;
  }
  &.react-modal-dialog-724 {
    width: 724px;
    max-width: 100%;
  }
  &.react-modal-dialog-824 {
    width: 824px;
    max-width: 100%;
  }
  &.react-modal-dialog-960 {
    width: 960px;
    max-width: 100%;
  }
  &.react-modal-dialog-md {
    max-width: 960px;
  }
  &.react-modal-dialog-lg {
    max-width: 1024px;
  }
  &.react-modal-dialog-xl {
    max-width: 1200px;
  }
  &.react-modal-dialog-full {
    max-width: 100% !important;
    width: 1160px;
  }
}
.fullwidth-wrapper {
  width: 100%;
  .react-datepicker-wrapper {
    width: 100%;
  }
}
.react-modal-dialog.react-modal-dialog-centered {
  min-height: calc(100% - 3.5rem);
}
.react-modal-dialog-centered {
  min-height: calc(100% - 1rem);
}
.react-modal-header {
  // padding: 20px 34px 0;
  padding: 20px 28px 0;
  @media (max-width:767px) {
     padding: 20px 15px 0 15px;
  }
  .react-modal-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: $black;
    &.modal-title-sm {
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width:767px) {
      font-size: 18px;
      padding-right: 30px;
    }
  }
  .react-modal-title-sub {
    font-size: 14px;
    line-height: 17px;
    color: $black;
    margin-top: 6px;
    font-weight: normal;
    span {
      font-weight: 600;
    }
    @media (max-width:767px) {
      padding-right: 30px;
    }
  }
  .react-modal-close {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 10;
    @media (max-width:767px) {
      right: 0;
      width: auto;
      margin: 0 !important;
      padding-top: 0;
    }
  }
}
.react-modal-dialog.small-mob {
  @media (max-width: 767px) {
    max-width: 100% !important;
  }
}
.datepicker-body {
  padding: 25px 42px !important;
}
.react-modal-body {
  // padding: 25px 34px;
  padding: 25px 60px;
  @media (max-width: 767px) {
    padding: 25px 15px;
  }
}
.react-modal-body.react-modal-body-delete {
  padding: 25px 30px;
}
.pd-t-0 {
  padding-top: 0 !important;
}

.view-textfield-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  color: $black;
  margin: 10px 0 0 0;
}
.view-textfield-details {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $black;
}
// React Modal Css

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 99;
  padding: 30px 0;
  .modal-wrapper-sm {
    width: 660px;
    max-width: 90%;
    background: #fff;
    border-radius: 50px;
    padding: 30px 45px;
    overflow-y: auto;
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      position: relative;
      .close-btn {
        position: absolute;
        left: 0;
        top: 0px;
        background: none;
      }
      h4 {
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #252525;
        margin: 0 0 40px 0;
        position: relative;
        &::after {
          content: '';
          border: 1px solid #B0B0B0;
          width: 400px;
          position: absolute;
          left: 50%;
          bottom: -20px;
          transform: translateX(-50%);
        }
      }
    }
    .modalbody {
      .otp-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 0 60px 0;
        .otp-inp {
          width: 58px;
          height: 58px;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 5px;
          margin: 0 10px;
          padding: 10px;
          font-family: Neue Haas Grotesk Display Pro;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.28px;
          color: #252525;
          text-align: center;
        }
      }
      p {
        font-family: Neue Haas Grotesk Display Pro;
        font-weight: normal;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #000000;
        margin: 18px 0;
      }
      .btn-continue {
          min-height: 50px;
          background: #9043C3;
          border-radius: 25px;
          font-family: Neue Haas Grotesk Display Pro;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -0.0018em;
          color: #FFFFFF;
          width: 100%;
      }
    }
  }
}

.box {
  width: 100%;
  border: 2px solid #B0B0B0;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px 0 15px 0;
}
.p-lr {
  margin: 0 50px;
  position: relative;
}
.or {
  width: 80px;
  position: relative;
  margin: 25px auto;
  background: #ffffff;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #000000;
  &::after {
    content: '';
    border-bottom: 1px solid #B0B0B0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    width: 400px;
    z-index: -1;
  }
}
.social-btns {
  padding-bottom: 30px;
  button {
    display: flex;
    align-items: center;
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color: #000000;
    background: #fff;
    width: 100%;
    border: 2px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 15px;
    margin: 0 0 30px 0;
    span {
      text-align: center;
      width: calc(100% - 30px);
    }
  }
}
.last-para {
  margin: 0 0 15px 0 !important;
  padding: 0;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #000000;
  text-align: left !important;
  a, span {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 12px;
  }
}

.form-group {
    margin-bottom: 0;
    position: relative;
}
.material-textfield {
  position: relative;
}

.material-textfield-input {
  padding-top: 18px;
  resize: none;
}

.material-textfield-input:focus, .material-textfield-input:focus {
  outline: none;
}

.material-textfield-input:focus ~ label,
.material-textfield-input:valid ~ label {
  top: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.material-textfield-input[type=password] {
  letter-spacing: 0.1em;
}

.material-textfield-label {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 14px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  margin-bottom: 0;
}
.form-divider {
  border-bottom: 1px solid #B0B0B0;
  margin: 5px 0 15px 0;
}
.field-input {
  min-height: 56px;
  border: 0 solid #888;
  width: 100%;
  border-radius: 0;
  padding: 15px 15px 0 0;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #848484;
}
.form-control-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 0 0 0;
  transition: all 200ms;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.0018em;
  color: #252525;
}
.field-input:focus {
  outline: none;
}
.field-input:focus + .form-control-placeholder,
.field-input:valid + .form-control-placeholder {
  transform: translate3d(0, -40%, 0);
  opacity: 1;
}

.custom-select {
  cursor: pointer;
  // background: #fff url(../images/caret.svg) no-repeat right 20px center/12px 12px;
}

/* Globle Css */