.profile-gigs {
  @media (max-width:767px) {
    margin: 0;
    padding: 0;
  }
  .row {
    .profile-card {
      border: 1px solid $light-grey;
      height: auto;
      @media (max-width:768px) {
        height: auto;
      }
      p {
        align-content: center;
      }
      .certificated {
        h3 {
          width: auto;
        }
        .cert {
          margin: 0 0 0 5px;
          width: 38px;
          height: 38px;
          @media (max-width:768px) {
            width: 22px;
            height: 22px;
          }
        }
        img {
        
        }
      }
      .social {
        a {
          margin-left: 5px;
        }
      }
      .report {
        align-self: flex-end;

        .title {
          text-decoration: underline;
          color: $primary-color;
        }
      }
      .licence {
        width: 80%;
        margin-left: 10px !important;
        a {
          text-decoration: underline;
          color: $primary-color;
          margin-left: 5px;
        }
        img {
          width: 80%;
          height: auto;
        }
        .pdf {
          .react-pdf__Page__canvas {
            margin: 0 auto;
            width: 100% !important;
            height: auto !important;
        }
        }
      }
      

      .image-area {
        width: 200px;
        height: 200px;
        border-radius: 20px;
      }

      .rating-star {
        p {
          font-weight: 500;

          span {
            color: $grey-color;
            font-weight: 300;
          }
        }
      }

      .btn {
        margin: 5px auto;
        border-radius: 5px;
        width: 224px;
        text-align: center;
        background: #9043c3;
        border-radius: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
      }

      .left-title {
        width: 125px;
      }

      .horizontal-line {
        width: 90%;
        height: 1px;
        background-color: $box-background;
      }
    }
  }
  .gigsp {
    @media (max-width:768px) {
      padding-top: 30px;
      padding-left: 0 !important;
    }
    button {
      @media (max-width:768px) {
        padding-left: 0;
        padding-right: 30px;
      }
      h4 {
        font-size: 18px;
        margin: 0;
      }
    }
  }

  .secondary {
    @media (max-width:768px) {
      margin: 0 0 15px 15px;
    }
  }
}
