.inbox {
  border: 1px solid $border-color;
  padding: 0 20px;
  height: 100%;
  max-height: 600px;
  overflow-y: auto;
  .inbox-item {
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    margin-bottom: 14px;
    padding: 14px;
    display: flex;

    .inbox-photo {
      width: 52px;
      height: 52px;
      background: red;
      border-radius: 50%;
      margin-right: 15px;
    }

    .inbox-info {
      width: calc(100% - 67px);
      .inbox-info-top {
        display: flex;
        justify-content: space-between;

        .inbox-title {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: 0.28px;
          color: $text-color;
          width: calc(100% - 80px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .project-status {
          width: 70px;
          height: 17px;
          margin: 0;
          span {
            font-weight: 500;
            font-size: 9px;
            letter-spacing: 0.28px;
            color: #ffffff;
            width: 70px;
            height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .orange-label {
          background: $orange-color;
        }
        .red-label {
          background: $red-color;
        }
        .green-label {
          background: $green-color;
        }
      }

      .project-id {
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 8px !important;
        letter-spacing: 0.28px;
        color: $light-grey;
      }

      .inbox-name {
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.28px;
        color: #000000;
        margin: 8px 0 0 0;
      }
    }
  }
}
