.banner {
  position: relative;
  @media (max-width:767px) {
    margin-top: 70px;
  }
  .banner-image {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .home-search {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width:768px) {
      padding: 0 20px;
    }
    @media (max-width:767px) {
      position: static;
      transform: none;
      padding: 0 15px;
    }
    .searchbar {
      border: none;
      @media (max-width:767px) {
        padding: 20px 0;
        flex-wrap: wrap;
      }
    }
  }
}
