.FAQ {
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 70%;
  padding-bottom: 100px;
  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 35px;
  }
  h3 {
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  a {
    color: $primary-color;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
  h4 {
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }  
}
.accordion {
  width: 100%;
  margin: 16px auto;
  padding: 10px 30px 4px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid $box-background;
  cursor: pointer;
  @media (max-width: 767px) {
    width: 90%;
    padding: 10px 15px 4px 15px;
  }
  .title {
    .accordion-title {
      margin: 5px 0;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.675px;
      color: #1E2022;
    }
  }
  .content {
    color: $grey-color;
    margin-top: 6px;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    //transition: all 0.3s linear;
  }
  .show {
    height: auto;
    text-align: left;
    max-height: 420px;
    //transition: all 0.3s linear;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.6px;
    color: #77838F;
  }
  .plus-sign {
    font-weight: 300;
        margin: 0;
  }
}

.right-faq {
  margin-top: 30px;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;

  p {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    font-size: 18px;
    line-height: 24px;
  }
}


