@import '../../styles/globals.scss';

.search-section {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  border-radius: 50px;
  width: 50%;
  height: 80px;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .postal-code {
        text-align: left;

        p {
          &:last-child {
            color: $grey-color;
          }
        }
      }

      .right-border {
        border-right: 2px solid #b0b0b0;
        margin-left: 10px;
      }

      button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: -5px;
      }
    }
  }
}
