.support-section {
  margin-bottom: 100px;
  margin-top: 80px;
  justify-content: center;
  @media (max-width:768px) {
    margin-top: 80px;
    width: 100%;
  }
  h2 {
    font-size: 54px;
    font-weight: 600;   
    font-style: Neue Haas Grotesk Display Pro;
    padding-bottom: 20px; 
    margin-left: 5px;  
    @media (max-width:767px) {
      font-size: 24px;
      padding-bottom: 10px; 
    }
  }
  .form-area {
    width: 100%;
    //margin-left: 158px;
    @media (max-width:767px) {
      width: 100%;
      padding: 5px 0px 5px 0 !important;
    }  
    .subtitle {
      font-weight: 400;
      font-size: 18px;
      font-style: Neue Haas Grotesk Display Pro;
      line-height:  24px;
      margin-bottom: 30px;
      @media (max-width:767px) {
        font-size: 16px;
        line-height: normal !important;
        margin-bottom: 20px;
      }
    }
    textarea {
      height: 200px;
      @media (max-width:767px) {
        height: 100px;
      }
    }

    .form {
      .input {
        padding: 12px;
        background-color: $box-background;
        color: $grey-color;
        border: none;
        outline: none;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 26px;
        @media (max-width:767px) {
          margin-bottom: 20px;
        }        
      }
      .small {
        width: 50%;
      }
      .large {
        width: 100%;
      }
      .mr-2,.ml-2 {
        @media (max-width:768px) {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }

    .button-area {
      button {
        border-radius: 25px;
        margin: 10px auto;
        margin-bottom: 20px;
        padding: 12px 82px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: $white-color;
        @media (max-width:767px) {
          width: 60%;
          height: 40px;
          border-radius: 5px;
          font-weight: 400;
          font-size: 14px;
          padding: 2px 2px;
          letter-spacing: -0.00018em;
        }
      }
    }

    .or {
      &::after {
        @media (max-width:767px) {
          width: 200px;
        }
      }
      .horizontal-line {
        width: 40%;
        height: 1px;
        background-color: $grey-color;
      }
    }

    .icon-section {
      .btn {
        color: white;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-size: 36px;

        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:767px) {
          border-radius: 10px;
          height: 40px;
          width: 50%;
          font-size: 20px;
        }
      }
      .facebook {
        background-color: #274d91;
      }
      .google {
        background-color: #d43d27;
      }
      .linkedin {
        background-color: #0072b4;
      }
    }
  }
  .accordion {
    width: 90%;
    margin: 16px auto 16px 50px;
    //padding: 10px 30px 4px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid $box-background;
    cursor: pointer;
    @media (max-width: 980px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
      //padding: 10px 15px 4px 15px;
    }
    .title {
      .accordion-title {
        margin: 5px 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.675px;
        color: #1E2022;
      }
    }
    .content {
      color: $grey-color;
      margin-top: 6px;
      text-align: justify;
      max-height: 0;
      overflow: hidden;
      //transition: all 0.3s linear;
    }
    .show {
      height: auto;
      text-align: left;
      max-height: 420px;
      //transition: all 0.3s linear;
      padding-top: 20px;
      padding-bottom: 10px;
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      letter-spacing: 0.6px;
      color: #77838F;
    }
    .plus-sign {
      font-weight: 300;
          margin: 0;
    }
  }
}