.profile-manager {
  h1 {
    @media (max-width:767px) {
      font-size: 40px;
      line-height: normal;
    }
  }
}
.head-regis {
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #252525;
  margin: 10px 0 20px 0;
}
.upload-list {
  list-style: none;
  margin: 55px 0 0 50px;
  padding: 0;
  width: 600px;
  max-width: 100%;
  @media (max-width:767px) {
    margin: 55px 0 0 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width:767px) {
      flex-wrap: wrap;
    }
    .checkbox-wrapper {
      min-width: 600px;
      label {
        font-size: 24px !important;
      }
    }
    .remove-btn {
      font-family: Neue Haas Grotesk Display Pro;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.28px;
      text-decoration-line: underline;
      color: #252525;
      cursor: pointer;
      @media (max-width:767px) {
        width: 100%;
      }
    }
  }
}
.addmore-btn {
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.28px;
  text-decoration-line: underline;
  color: #9043C3;
  margin: 40px 0 0 50px;
  display: inline-block;
  @media (max-width:767px) {
    margin: 40px 0 0 0;
  }
}
.note {
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #252525;
  margin: 70px 0 25px 0;
  span {
    font-weight: 500;
  }
}
.primarybtn-fill {
  width: auto;
  max-width: 100%;
  min-height: 70px;
  padding: 0 50px;
  background: #9043C3;
  border-radius: 5px;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
  }
  @media (max-width:767px) {
    padding: 0 20px;
    width: 100%;
  }
}
.errormsg {
  color: red;
  display: block;
  float: left;
  width: 100%;
}