.iconsearch {
  margin-top: 7px;
}
.searchbar {
  max-width: 824px;
  margin: 0 auto;
  border-radius: 70px;
  box-sizing: border-box;
  border: 1px solid $grey-color;
  background-color: $white-color;
  padding: 20px;
  @media (max-width:980px) {
    padding: 10px;
  }
  @media (max-width:767px) {
    padding: 0;
    border: 0;
    flex-wrap: wrap;
    display: none !important;
  }
  .input-search {
    width: 240px;
    height: 26px;
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color: #848484;
    border: 0;
    &:focus {
      outline: none;
      border: 0;
    }
  }
  .input-search-lg {
    width: 300px !important;
  }
  .search-area {
    flex: 0.75;
    @media (max-width:767px) {
      flex-wrap: wrap;
      padding: 0 !important;
      flex: auto;
      justify-content: flex-start !important;
    }
    .postal-code {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      @media (max-width:767px) {
        width: 100%;
        margin-right: 0 !important;
      }
      .postal-value {
        color: $grey-color;
      }
      .searching-keywords-show {
        display: block !important;
      }
      .search-lg {
        width: 300px !important;
        @media (max-width:767px) {
          width: 100%;
        }
      }
      .searching-keywords {
        display: none;
        position: absolute;
        top: 80px;
        left: -50px;
        width: 350px;
        background: #fff;
        border-radius: 40px;
        padding: 0px 0px;
        border: 1px solid rgba(37, 37, 37, 0.1);
        z-index: 9;
        // max-height: 340px;
        // overflow-y: auto;
        @media (max-width:767px) {
          z-index: 9;
          left: 0;
          right: 0;
          width: 100%;
          max-height: 250px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-family: Neue Haas Grotesk Display Pro;
            font-weight: normal;
            font-size: 22px;
            line-height: normal;
            letter-spacing: -0.0018em;
            color: #252525;
            padding: 12px 30px;
            cursor: pointer;
            text-align: left;
            background: #fff;
            &:first-child {
              padding-bottom: 5px;
              border-bottom: 1px solid #f1f1f1;
              border-radius: 40px 40px 0 0;
            }
            &:last-child {
              border-radius: 0 0 40px 40px;
            }
            a {
              color: #000000;
              text-decoration: none;
            }
            &:hover {
              background: #f1f1f1;
            }
            .search-keywords-img {
              width: 60px;
            }
            .search-keywords-txt {
              width: calc(100% - 60px);
              h5 {
                font-weight: 500;
                margin: 0;
                line-height: normal;
                font-size: 18px;
              }
              h6 {
                color: #848484;
                margin: 0;
                line-height: normal;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .vertical-bar {
      width: 2px;
      height: 60px;
      background-color: $grey-color;
      @media (max-width:767px) {
        display: none;
      }
    }
    .service {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      @media (max-width:767px) {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 20px;
      }
      .service-value {
        color: $grey-color;
      }
      .searching-keywords-show {
        display: block !important;
      }
      .searching-keywords {
        display: none;
        position: absolute;
        top: 80px;
        left: -50px;
        width: 250px;
        background: #fff;
        border-radius: 40px;
        padding: 0;
        border: 1px solid rgba(37, 37, 37, 0.1);
        max-height: 340px;
        overflow-y: auto;
        z-index: 9;
        @media (max-width:980px) {
          width: 390px;
        }
        @media (max-width:767px) {
          max-height: 260px;
          top: 60px;
          width: 100%;
          z-index: 99;
          padding: 5px 40px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            width: 100%;
            padding: 12px 30px;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.0018em;
            color: #000000;
            cursor: pointer;
            text-align: left;
            border-bottom: 1px solid #f1f1f1;
            background: #fff;
            &:first-child {
              border-radius: 40px 40px 0 0;
            }
            &:last-child {
              border-bottom: 0px solid #f1f1f1;
            }
            a {
              color: #000000;
              text-decoration: none;
            }
            &:hover {
              background: #f1f1f1;
            }
            @media (max-width:767px) {
              padding: 5px 0;
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  .icon-area {
    height: 70px;
    width: 70px;
    @media (max-width:980px) {
      height: 55px;
      width: 55px;
    }
    @media (max-width:767px) {
      width: 100%;
    }
    .btn {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width:767px) {
        border-radius: 0;
        height: 54px;
        border-radius: 4px;
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
}
.hidemobile {
  @media (max-width:767px) {
    display: none;
  }
}
.showmobile {
  display: none;
@media (max-width:767px) {
    display: block;
  }
}
.search-xl {
  width: 350px !important;
  @media (max-width:767px) {
    width: 100% !important;
  }
  ul {
    li {
      font-size: 20px !important;
    }
  }
}
.searchbox-mob.show {
  display: block;
}
.searchbox-mob {
  display: none;
  @media (max-width:767px) {
    // display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: -48px;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 48px);
    background: #fff;
    z-index: 9;
    overflow-y: auto;
    padding: 20px;
    .postal-code, .service {
      margin-top: 20px;
      border: 1px solid #e8e8e8;
      padding: 15px 25px;
      border-radius: 40px;
      input {
        width: 100%;
      }
    }
    .btn-primary {
      width: 100%;
      border-radius: 50px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 500;
      min-height: 60px;
      letter-spacing: 1px;
      .iconsearch {
        margin-right: 15px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-family: Neue Haas Grotesk Display Pro;
            font-weight: normal;
            font-size: 22px;
            line-height: normal;
            letter-spacing: -0.0018em;
            color: #252525;
            padding: 12px 30px;
            cursor: pointer;
            text-align: left;
            background: #fff;
            &:first-child {
              padding-bottom: 5px;
              border-bottom: 1px solid #f1f1f1;
              border-radius: 40px 40px 0 0;
            }
            &:last-child {
              border-radius: 0 0 40px 40px;
            }
            a {
              color: #000000;
              text-decoration: none;
            }
            &:hover {
              background: #f1f1f1;
            }
            .search-keywords-img {
              width: 60px;
            }
            .search-keywords-txt {
              width: calc(100% - 60px);
              h5 {
                font-weight: 500;
                margin: 0;
                line-height: normal;
                font-size: 18px;
              }
              h6 {
                color: #848484;
                margin: 0;
                line-height: normal;
                font-size: 16px;
              }
            }
          }
  }
}


.search-mobile.seachmob-border {
      display: none;
      @media (max-width:767px) {
        display: block;
        width: 100%;
        margin-top: 20px;

      }
      .search-mobile-input {
        width: 100%;
        height: 48px;
        padding: 0 10px 0 20px;
        border-radius: 50px;
        background: #fff url("/assets/svg/ic-search-blue.svg") no-repeat;
        background-size: 24px;
        background-position: calc(100% - 16px) center;
        font-size: 18px;
        border: 1px solid #f1f1f1;
      }
    }
