.handyman-pagination {
  h4 {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color:$text-color;
    margin: 0 0 10px 0;
  }
  h1 {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 64px;
    line-height: normal;
    letter-spacing: -0.0018em;
    color:$text-color;
    margin: 0 0 15px 0;
    @media (max-width:767px) {
      font-size: 40px;
    }
  }
  .row {
    .btn {
      border-radius: 50px;
      padding: 8px 10px 8px 10px;
      margin: 10px;
      min-width: 274px;
      @media (max-width:767px) {
        width: 100%;
      }
      h4 {
        margin: 0;
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #fff;
      }
      .add-icon {
        font-size: 34px;
        font-weight: 100;
      }
    }
    .in-active {
      border: 1px solid $grey-color;
      h4 {
        margin: 0;
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.0018em;
        color: #000;
      }
    }
    .setbudget {
      margin: 10px 0 10px 29%;
      width: 20%;
      @media (max-width:767px) {
        margin: 5px 0 10px 3%;
        width: 90%;
      }
      .input {
        width: 80%;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 3px;
        color: #252525;
        outline: none;
        //margin: 0 0 10px 20%;
        display: block;
        font-size: 16px;
        line-height: 22px;
        @media (max-width:767px) {
          width: 70%;
          background-image: none;
          //margin-right: 5px;
        }
      }

      .btn {
        border-radius: 50px;
        padding: 8px 10px 8px 10px;
        margin: 10px;
        min-width: 30px;
        height: 22px;
        @media (max-width:767px) {
          width: 15%;
        }
        h4 {
          margin: 0;
          font-family: $font-family-base;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -0.0018em;
          color: #fff;
        }
        .add-icon {
          font-size: 34px;
          font-weight: 100;
        }
      }
    }
  }
  .data-area {
    .individual-data {
      width: 400px;
      overflow: hidden;
      border-radius: 20px;
      .image-area {
        width: 350px;
        height: 300px;
        border-radius: 20px;
      }
      .details {
        padding: 20px;
        span {
          font-weight: 400;
          color: $text-color;
        }
        .name {
          color: $primary-color;
        }
      }
      .booking-section {
        text-align: center;
        .btn {
          border-radius: 50px;
          padding: 10px 60px 5px 60px;
          margin: 15px;
        }
      }
    }
  }
  h5 {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 32px;
    line-height: 26px;
    letter-spacing: -0.0018em;
    color:$text-color;
    margin: 80px 0 24px 0;
  }
}

.css-yk16xz-control {
  border: 1px solid #8d8d8d !important;
    border-radius: 5px;
    padding: 7px;
    color: #8d8d8d;
    outline: none;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
}
.css-1okebmr-indicatorSeparator {
  background: none !important;
}
