.testimonials {
  .testimonial-slider {
    .full-container {
      padding: 50px 50px 15px 50px;
      @media (max-width:767px) {
        padding: 20px;
      }
      .row {
        padding: 40px;
        // border-radius: 20px;
        // box-shadow: 3px 3px 6px $box-background;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        @media (max-width:767px) {
          padding: 20px;
        }
        .col-md-9 {
          padding: 10px;
          .views {
            text-align: justify;
            color: $grey-color;
          }
          .name {
            margin-top: 5px;
          }
          .job {
            color: black;
            font-weight: normal;
          }
        }
      }
    }
  }
  .slick-dots {
    li {
      width: auto;
      height: auto;
      margin: 0 1px;
      button {
        width: auto;
        height: auto;
        &::before {
          font-size: 7px !important;
          color: #c4c4c4 !important;
          opacity: 100;
        }
      }
    }
    .slick-active {
      button {
        width: auto;
        height: auto;
        &::before {
          font-size: 10px !important;
          color: #c4c4c4 !important;
          opacity: 100;
        }
      }
    }
  }
}
